#################################
# WSS Hostname
#################################
# Per-machine hostname used by Caddy for the local MQTT-over-WSS endpoint.
# Recommended pattern: apollo-<project-id>
MQTT_WSS_HOSTNAME=apollo-00225

#################################
# Cognex FTP Uploads
#################################
COGNEX_FTP_USER=cognex
COGNEX_FTP_PASSWORD=change-me
COGNEX_FTP_PASV_ADDRESS=192.168.103.1
COGNEX_FTP_PASV_MIN_PORT=21100
COGNEX_FTP_PASV_MAX_PORT=21110
COGNEX_FTP_UPLOAD_DIR=/recordings_drive/cognex-ftp
