#################################
# MQTT Credentials
#################################
MQTT_USERNAME=ui
MQTT_PASSWORD=ui123

#################################
# WSS Hostname
#################################
# Per-machine hostname used by Caddy for the local MQTT-over-WSS endpoint.
# Recommended pattern: apollo-<project-id>
MQTT_WSS_HOSTNAME=apollo-00225

#################################
# OPC UA Bridge Config
#################################
OPCUA_ENDPOINT=opc.tcp://192.168.1.50:4840

# Optional:
# OPCUA_SECURITY_MODE=None|Sign|SignAndEncrypt
OPCUA_SECURITY_MODE=None

#################################
# MongoDB
#################################
MONGO_ROOT_PASSWORD=examplepassword
